html, body {
    height: 100%;
    width: 1189px;
    font-family: 'Mali', cursive;
    background-color: #fff;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    cursor: url("img/duck-pointer.png"), auto;
}
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h1 {
    margin: 20px 0;
    font-size: 36px;
    color: #ff9900;
  }
  
  h2 {
    color: #ff9900;
    text-align: center;
  }

  h3 {
    text-align: center;
  }
  
  p {
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    gap: 15px;
    text-indent: 40px;
    margin: 0;
  }

  span {
    text-decoration: underline;
  }

  .description {
    width: 1000px;
    text-align: left;
    align-self: center;
    margin: 20px;
    margin-bottom: -20px;
  }
  
  section {
    flex: 1;
    padding: 0;
    justify-content: center;
  }
  
  #productSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
  }
  
  img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: url("img/duck-knife.png"), auto;
    filter: brightness(1.1) contrast(1.1);
  }
  
  img:hover {
    transform: scale(1.05);
  }

  button {
    font-family: 'Mali', cursive;
    background-image: url(img/duckButton.jpeg);
    background-size: cover;
    color: #fff;
    border: none;
    align-self: center;
    padding: 10px 20px;
    font-size: 16px;
    width: 170px;
    margin: 10px;
    border-radius: 5px;
    cursor: url("img/duck-knife.png"), auto;
    transition: background-color 0.3s;
    position: relative;
    z-index: 1;
  }
  
  button:hover {
    background-color: #ce6b08;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  }
  
  #resultsList {
    text-align: left;
    align-self: center;
    margin: 20px;
    column-count: 2;
    column-gap: 30px;
  }
  
  #resultsList h2 {
    margin-bottom: 10px;
    color: #004466;
  }
  
  #resultsList ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #resultsList li {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  #chartSection {
    margin: 20px auto;
  }
  
  #chart {
    width: 100%;
    height: 400px;
  }
  